@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}
.main-content {
  margin: 26px;
}
.huydev {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.body-color {
  background: coral;
}
@media screen and (max-width: 768px) {
  .main-content { 
    margin: 15px;
   }
   body {
    /* display: none; */
    
   }

}